canvas {
    height: 100% !important;
    width: 100% !important;
}
.chart-container {
    height: 100%;
}
ion-card-content {
    height: 160px;
    padding: 5px;
}
ion-card-title{
    text-align: center;
}