<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>{{infoSubMenu.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divSpinner" *ngIf="showSpinner"> 
    <ion-spinner *ngIf="showSpinner" name="dots" class="spinerGeneral"></ion-spinner>
  </div>
  <div class="divTable">
    <app-tabla-generica [titleTable]="titleTable" [dataTable]="dataTable"></app-tabla-generica>
  </div>
  <div class="divTextArea">
    <h2 class="montoTotal">{{montoTotal}}</h2>
    <p class="textArea">{{textRecognition}}</p>
    <p class="textArea" style="color: darkgray;">Ej: 5 unidades de piña a $7000</p>
  </div>
  <div class="divRecord">
    <ion-button class="buttonRecord" (click)="startListening()">
      <ion-icon class="mic" name="mic"></ion-icon>
    </ion-button>
    <ion-button class="finish" (click)="registrar()" *ngIf="dataTable.length>0"> Finalizar </ion-button>
  </div>

</ion-content>
