<ion-list [inset]="true">
  <form novalidate>
    <div class="section-form">
      <p>Modificar Producto</p>
    <ion-label>Nombre del Produto:</ion-label>
    <ion-item>
      <input name="nombre" [(ngModel)]="model.inventario.nombre" placeholder="{{model.inventario.nombre}}" [disabled]="flowView" >
    </ion-item>
    <ion-label>Cantidad:</ion-label>
    <ion-item>
      <input name="cantidad" required [(ngModel)]="model.cantidad" placeholder="{{model.cantidad}}">
    </ion-item>
    <ion-label>Precio:</ion-label>
    <ion-item>
      <input name="precio" required [(ngModel)]="model.precioVentaCompra" placeholder="{{model.precioVentaCompra}}">
    </ion-item>
    </div>
  </form>
  <ion-item>
    <div class="section-button">
      <ion-button (click)="onSubmit()" expand="block" fill="clear" shape="round" class="btnActualizar" >
        Actualizar
      </ion-button>
      <ion-button (click)="removeProduct()" expand="block" fill="clear" shape="round" [disabled]="removeView" class="btnQuitar">
        Eliminar
      </ion-button>
    </div>
  </ion-item>
</ion-list>