.divCampEdit{
    text-align: center;
}
.fieldToEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 20px;
}
input {
    text-align: center;
}
ion-select {
    width: 100%;
    text-align: center;
}
ion-button{
    width: 100%;
}