<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{infoSubMenu.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divBuscador">
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Seleccion un producto" (ionChange)="buscarProducto($event)">
          <ion-select-option *ngFor="let data of listaInventario;let i = index" value="{{data.id}}">{{data.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>

  <div class="divSpinner" *ngIf="showSpinner"> 
    <ion-spinner *ngIf="showSpinner" name="dots" class="spinerGeneral"></ion-spinner>
  </div>

  <ion-card class="divCampEdit" *ngIf="selectedProd">
    <!-- <ion-card-header>
      <ion-card-title>{{selectedProd.nombre}}</ion-card-title>
    </ion-card-header> -->
    <ion-card-content>
      <ion-list>
        <ion-item>
          <div class="fieldToEdit">
            <ion-label class="ion-text-wrap">Precio de venta</ion-label>
            <input name="nombre" required [(ngModel)]="selectedProd.precioVentaActual"
              placeholder="{{selectedProd.precioVentaActual}}">
          </div>
        </ion-item>
        <ion-item>
          <div class="fieldToEdit">
            <ion-label class="ion-text-wrap">Unidad de medida de venta</ion-label>
            <ion-list style="padding: 0px;">
              <ion-item>
                <ion-select interface="popover" [placeholder]="medidaDefault" (ionChange)="medidaSelected($event)">
                  <ion-select-option *ngFor="let data of listaMedidas" [value]="data">{{data}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <ion-item>
          <div class="fieldToEdit">
            <ion-label class="ion-text-wrap">Categoria de medida</ion-label>
            <ion-list style="padding: 0px;">
              <ion-item>
                <ion-select interface="popover" [placeholder]="selectedProd.unidadMedida" (ionChange)="categoriaSelected($event)">
                  <ion-select-option *ngFor="let data of listadoCategoria" [value]="data">{{data}}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
        </ion-item>
        <ion-item>
          <div class="fieldToEdit">
            <ion-label class="ion-text-wrap">Cantidad disponible ({{selectedProd.unidadMedida}})</ion-label>
            <input name="nombre" required [(ngModel)]="selectedProd.cantidadDisponible"
              placeholder="{{selectedProd.cantidadDisponible}}">
          </div>
        </ion-item>
        <ion-item>
          <div class="fieldToEdit">
            <ion-label class="ion-text-wrap">Merma ({{selectedProd.unidadMedida}})</ion-label>
            <input name="nombre" required [(ngModel)]="selectedProd.cantidadPerdida"
              placeholder="{{selectedProd.cantidadPerdida}}">
            </div>
          </ion-item>
        </ion-list>
        <ion-button (click)="selectedProperty()"> Actualizar </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>