<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>ver stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divBuscador">
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Seleccion un producto" (ionChange)="buscarProducto($event)">
          <ion-select-option *ngFor="let data of listaInventario;let i = index" value="{{data.id}}">{{data.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div class="divDetailsProd" *ngIf="selectedProd">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{selectedProd.nombre}} en stock</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Fecha ultima compra</ion-card-title>
        <ion-card-title>{{selectedProd.fechaCompra[0]}}</ion-card-title>
        <ion-card-title>{{selectedProd.unidadMedida}}:{{selectedProd.cantidadDisponible}}</ion-card-title>
      </ion-card-content>
    </ion-card>
    <div *ngIf="boletaCompra.length>0" class="divHisCompra">
      <ion-label>
        <h1>Fecha de compras</h1>
      </ion-label>
      <ion-grid>
        <ion-row class="itemTitleCompra">
          <ion-col >
            <h1>Fecha</h1>
          </ion-col>
          <ion-col >
            <h1>Cantidad</h1> 
          </ion-col>
          <ion-col >
            <h1>Precio</h1>
          </ion-col>
        </ion-row>
        <div class="itemScroll">
          <ion-row *ngFor="let i of boletaCompra" class="itemCompra">
            <ion-col >
              <h3>{{i.fecha}}</h3>
            </ion-col>
            <ion-col >
              <h3>{{i.cantidad}}</h3>
            </ion-col>
            <ion-col >
              <h3>{{i.total}}</h3>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>
  </div>
</ion-content>
