<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>ver-stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divBuscador">
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Seleccion un producto" (ionChange)="buscarProducto($event)">
          <ion-select-option *ngFor="let data of listaInventario;let i = index" value="{{data.id}}">{{data.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <div class="divDetailsProd" *ngIf="selectedProd">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{selectedProd.nombre}} en stock</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>Fecha ultima compra</ion-card-title>
        <ion-card-title>{{selectedProd.fechaCompra[0]}}</ion-card-title>
        <ion-card-title>{{selectedProd.unidadMedida}}:{{selectedProd.cantidadDisponible}}</ion-card-title>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item>
        <ion-label>
          <h1></h1>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
