.divDetailsProd {
    text-align: center;
}

.divHisCompra {
    padding: 0px 15px;
    margin-top: 25px;
}

.itemTitleCompra {
    border: solid 0.8px #296e67;
    border-bottom-color: #fffafa;
}

.itemCompra {
    border: solid 0.8px #296e67;
    border-bottom-color: #fffafa;
}

.itemScroll{
    overflow: auto;
    height: 240px;
}

::-webkit-scrollbar {
    display: none;
}

ion-card {
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}

ion-select {
    width: 100%;
    text-align: center;
}

ion-content {
    --background: #296e67;
    --color: white;
}