<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>ver-stock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divBuscador">
    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Seleccione una fecha" (ionChange)="buscarProducto($event)">
          <ion-select-option *ngFor="let data of listaInventario;let i = index" value="{{data.id}}">{{data.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
  <!-- <div class="divResumen" *ngIf="mostrar">
    <h1>Fecha última compra</h1>
    {{fecha}}
    <h2>Cantidad: {{detalleUnidad}} </h2>
  </div>
  <div class="divResumenSinDatos" *ngIf="!mostrar">
    <h1>Sin Datos</h1>
  </div>
  <div class="divTable" *ngIf="mostrar">
    <app-tabla-generica [titleTable]="titleTable" [dataTable]="dataTable"></app-tabla-generica>
  </div> -->
</ion-content>
