.table{
    // height: 100%;
    background-color: white;
    color: black;
}
.tableTitle {
    background-color: lightblue;
    font-size: 13px;
}
.table ion-col {
    border: 1px solid;
}
.tableBody ion-col {
    border: 1px solid;
    font-size: 13px;
}
.button-option{
    // width: 15px;
}