.table{
    height: 100%;
    background-color: white;
    color: black;
}
.tableTitle {
    background-color: lightblue;
}
.table ion-col {
    border: 1px solid;
}
.tableBody ion-col {
    border: 1px solid;
}