<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>nueva-venta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="showSpinner" name="circular" color="success" class="spinerGeneral"></ion-spinner>
  <div class="divTable">
    <app-tabla-generica [titleTable]="titleTable" [dataTable]="dataTable"></app-tabla-generica>
  </div>
  <div class="divTextArea">
    <h2>{{montoTotal}}</h2>
    <p class="textArea">{{textRecognition}}</p>
  </div>
  <div class="divRecord">
    <ion-button class="buttonRecord" (click)="nuevaVenta()">
      <ion-icon class="mic" name="mic"></ion-icon>
    </ion-button>
    <ion-button (click)="registrar()"> finalizar </ion-button>
  </div>
</ion-content>