.divTable{
    text-align: center;
    height: 70%;
    margin: 10px;
    overflow: auto;
}
.divTextArea {
    background-color: aquamarine;
    margin: 10px;
    height: 15%;
    text-align: end;
}
.textArea {
    // width: 100%;
}
.divRecord{
    text-align: center;
    height: 10%;
}
.buttonRecord {
    --border-radius: 80%!important;
}
.record {
    
}
.mic {
    border-radius: 50px;
}