<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title>nueva-compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="divTable">
    <app-tabla-generica [titleTable]="titleTable" [dataTable]="dataTable"></app-tabla-generica>
  </div>
  <div class="divTextArea">
    <h2>{{montoTotal}}</h2>
    <ion-textarea class="textArea"></ion-textarea>
  </div>
  <div class="divRecord">
    <ion-button class="buttonRecord" (click)="nuevaCompra()">
      <ion-icon class="mic" name="mic"></ion-icon>
    </ion-button>
  </div>
</ion-content>
