<!-- <ion-list>
  <ion-item>
    <ion-select interface="popover" placeholder="{{defaultData.title}}" (ionChange)="onClick($event)">
      <ion-select-option value="{{data.url}}" *ngFor="let data of defaultData.children" (click)="onClick(data.url)">
        {{data.title}}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list> -->

<ion-header>
	<ion-toolbar>
		<ion-title>Home</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ion-list lines="none">
		<ion-item *ngFor="let item of defaultData.children" detail="true" (click)="onClick(item.url)">
			<ion-label class="ion-text-wrap">
				<h3>{{ item.title }}</h3>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>