<ion-card *ngIf="defaultData.children.length === 1" (click)="onClick(defaultData.children[0].url)">
  <ion-card-header>
    <ion-card-title>{{defaultData.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content></ion-card-content>
</ion-card>

<ion-card *ngIf="defaultData.children.length > 1">
  <ion-card-header>
    <ion-card-title>{{defaultData.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content interface="action-sheet" *ngFor="let data of defaultData.children">
    {{data.title}}
  </ion-card-content>
</ion-card>
