.item-text {
    height: 26px;
    left: 14.36%;
    right: 64.1%;
    top: calc(50% - 26px/2 - 74px);
    // font-family: 'SFProDisplay';
    font-size: 18px;
    line-height: 26px;
    color: #0C1E7F;
}